body{
    font-family: 'Josefin Slab', serif;
}

h1{
    color: #d34c4c;
}

.error {
    border: 1px solid red;
}

.btn-done{
    float: right;
}

li:hover{
    background-color: #d34c4c;
    border: 1px solid #000000;
}

.todo-container{
    margin-top: 20px;
}

.done-container{
    margin-top: 30px;
}

.done-item{
    text-decoration: line-through;
}


